body {
	display: block;
	margin: 0px;
	min-width: 320px;
}

@font-face {
	font-family: "Roboto Regular"; 
	src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: "Roboto Medium"; 
	src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
	font-family: "Roboto Bold"; 
	src: url(../fonts/Roboto-Bold.ttf);
}

body {
	overflow-x: hidden;
	min-width: 320px;
	width: 100%;
	height: 100%;
	color: #000;
	font-size: 12px;
	font-family: 'Arial',sans-serif;
	padding: 0;
	margin: 0;
	background: #f6f6f6;
	-webkit-tap-highlight-color: transparent;
}

.page {
	position: relative;
	z-index: 1;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: liga, kern;
	background: #fff;
	color: #333333;
	min-width: 320px;
	height: 100vh;
}

.page {
	box-sizing: border-box;
}

.page__content {
	padding: 16px 0;
}

.container {
	display: block;
	width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
	max-width: 100%;
	box-sizing: border-box;
}

.container__content {
	position: relative;
	z-index: 999;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 0 100px;
}

.container__content {
	padding-bottom: 10px !important;
}

.menu {
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
}

.menu-list {
	font-size: 16px;
	list-style: none;
	font-family: "Roboto Regular";
	font-weight: 400;
	line-height: 140%;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 20px 0;
}

.menu-list_item {
	margin-right: 100px;
}

.menu-list_item:last-child {
	margin-right: 0;
}

.menu-link {
	text-decoration: none;
	color: #034899;
}

.menu-link:hover {
	text-decoration: underline;
}

.menu-link:active {
	color: #0071F6;
}

.private_club-questions {
	padding: 30px 50px 0;
	margin-bottom: 120px;
	width: 100%;
}

.private_club-questions-title {
	font-family: "Roboto Regular";
	color: #000000;
	font-size: 28px;
	font-weight: 700;
	display: flex;
	flex-wrap: wrap;
	letter-spacing: 1px;
	line-height: 140%;
	margin: 0 0 50px;
}

.private_club-questions_search {
	width: 993px;
	margin-bottom: 30px;
}

.search__field-box {
	display: flex;
	flex-wrap: nowrap;
}

.search__field {
	width: 100%;
	padding: 10px 20px;
	font-family: "Roboto Regular";
	color: #504B4B;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 140%;

	border: 1px solid;
	border-color: #034899;
	border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
}

.search__field:focus {
	border: 2px solid;
	border-color: #034899;
	border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	outline: none;
}

.search__field:active {
	border: 2px solid;
	border-color: #034899;
	border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	outline: none;
}

.search__icon-button {
	padding: 10px;
	background-color: #034899;
	border: 1px solid;
	border-color: #034899;
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
}

.search__icon-button:hover {
	cursor: pointer;
}

.search__icon-button:active {
	border: 1px solid;
	border-color: #ffffff;
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	outline: none;
}

.search__icon {
	width: 30px;
	fill: white;
}

.text_ex {
    color: #F44336;
    margin: 0;
}

.private_club-questions-box {
	display: flex;
	flex-direction: column;
}

.private_club-questions-box_item {
	padding-top: 10px;
    padding-bottom: 10px;
	border-top: 1px solid;
    border-color: #BEB6B6;
    display: flex;
    flex-wrap: wrap;
}

.private_club-questions-box_item-text {
	font-family: "Roboto Regular";
	color: #000000;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 140%;
	padding: 25px 0 15px 50px;
	width: 85%;
	margin: 0;
	background-color: #F2F5F7;
	border-radius: 0 15px 15px 0;
}

.private_club-questions-box_item:first-child {
	border-top: 0;
}

.hide {
    display: none;
}

.hide + .button_hidden_down {
    padding: 15px 10px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: auto;
    margin-top: auto;
    background-color: #F2F5F7;
}

.hide + .button_hidden_down ~ .questions-box_hidden-items {
    display: none;
}

.hide:checked + .button_hidden_down {
    transform: rotate(180deg);
}

.hide:checked + .button_hidden_down + .button_down {
    fill: black;
}

.hide:checked + .button_hidden_down ~ .questions-box_hidden-items {
    display: flex;
    flex-direction: column;
    z-index: 5;
    margin-top: 10px;
    width: 100%;
}

.questions-box_hidden-item {
	padding: 15px 3px;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid;
    border-color: #BEB6B6;
}

.questions-box_hidden-item:first-child {
	border-top: 0;
}

.button_down-item {
	width: 35px;
    height: 35px;
}

.questions-box_hidden-item_text {
	font-family: "Roboto Regular";
    color: #000000;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 140%;
    margin: 8px 0 0;
    width: 80%;
    margin-left: 60px;
}

.answer_number {
	text-decoration: none;
	color: #235FA6;
}

.answer-town {
	text-decoration: none;
	color: #235FA6;
}

.answer-delivery {
	text-decoration: none;
	color: #235FA6;
}

.answer-activation {
	text-decoration: none;
	color: #235FA6;
}

.answer-form {
	text-decoration: none;
	color: #235FA6;
}

.answer_page-cut {
	text-decoration: none;
	color: #235FA6;
}

.answer_credit {
	text-decoration: none;
	color: #235FA6;
}

.answer-lift {
	text-decoration: none;
	color: #235FA6;
}

.answer_mounting {
	text-decoration: none;
	color: #235FA6;
}

.answer_rent {
	text-decoration: none;
	color: #235FA6;
}

.answer_certificate {
	text-decoration: none;
	color: #235FA6;
}

.answer_return {
	text-decoration: none;
	color: #235FA6;
}

.answer_service-center {
	text-decoration: none;
	color: #235FA6;
}

.hide_item {
	display: none;
}

.hide_item + .button_hidden_down-item {
	padding: 0 10px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: auto;
    margin-top: auto;
}

.hide_item:checked + .button_hidden_down-item {
    transform: rotate(180deg);
}

.hide_item + .button_hidden_down-item ~ .questions-box_hidden-item_answer {
	display: none;
}

.hide_item:checked + .button_hidden_down-item ~ .questions-box_hidden-item_answer {
	display: block;
    padding: 0 20px 10px 115px;
    z-index: 5;
    margin-top: 20px;
    display: block;
    margin-top: 20px;
    width: 100%;
}

.questions-box_hidden-item_answer {
	font-family: "Roboto Regular";
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 140%;
    margin: 0;
}

.questions-box_hidden-item_answer-card {
	font-family: "Roboto Regular";
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 140%;
    margin: 0 0 20px 8%;
}
                                                                    /*!*/
.questions-box_hidden-item_answer-card:last-child {
	margin: 0 0 0 8%;
}

.answer_column {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-left: 20px;
}

.answer_column-card:first-child {
	margin-left: 0;
}

.answer_column-card {
	display: flex;
	flex-direction: column;
	width: 46%;
	margin-left: 0;
}

.alterra_link {
	color: #F44336;
    text-decoration: none;
}

.questions-box_hidden-item_answer-string {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 20px;
}

.questions-box_hidden-item_answer-columns + .questions-box_hidden-item_answer {
	width: 40%;
}

.icon_row {
    margin-right: 15px;
    margin-top: 1%;
    margin-bottom: auto;
    width: 5%;
}

.item_text {
	font-family: "Roboto Regular";
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 140%;
    margin: 0 0 auto;
    width: 90%;
}

.hide_item + .button_hidden_down-item ~ .questions-box_hidden-item_answer-columns {
    display: none;
}

.hide_item:checked + .button_hidden_down-item ~ .questions-box_hidden-item_answer-columns {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
    padding: 0 20px 10px 115px;
    z-index: 5;
    margin-top: 20px;
    margin-top: 20px;
    width: 100%;
}

.button_down {
	width: 45px;
    height: 45px;
}

@media (min-width: 961px) and (max-width: 1200px) {

	.menu-list {
		font-size: 14px;
	}

	.menu-list_item {
		margin-right: 50px;
	}

	.private_club-questions {
		padding: 30px 50px 0;
		margin-bottom: 120px;
		width: 100%;
	}

	.private_club-questions-title {
		font-size: 26px;
		margin: 0 0 40px;
	}

	.private_club-questions_search {
		width: 100%;
	    margin-bottom: 20px;
	}

	.search__field {
		padding: 10px 15px;
	}

	.search__icon-button {
		padding: 10px;
	}

	.private_club-questions-box_item {
		padding-top: 10px;
	    padding-bottom: 10px;
	}

	.button_down {
    	width: 40px;
    	height: 40px;
	}

	.hide + .button_hidden_down {
		padding: 10px 10px;
	}

	.private_club-questions-box_item-text {
		font-size: 22px;
		padding: 20px 0 10px 50px;
		border-radius: 0 10px 10px 0;
	}


	.hide:checked + .button_hidden_down ~ .questions-box_hidden-items {
	    margin-top: 10px;
	}

	.questions-box_hidden-item {
		padding: 10px 3px;
	}

	.questions-box_hidden-item_text {
	    font-size: 20px;
	    margin-left: 60px;
	}

	.hide_item:checked + .button_hidden_down-item ~ .questions-box_hidden-item_answer {
	    padding: 15px 20px 10px 115px;
	    margin-top: 0;
	}

	.answer_column {
		width: 80%;
	}

	.answer_column-card {
		width: 80%;
	}

	.questions-box_hidden-item_answer-string {
		margin-bottom: 15px;
	}

	.questions-box_hidden-item_answer-card {
		margin-bottom: 15px;
	}

	.hide_item:checked + .button_hidden_down-item ~ .questions-box_hidden-item_answer-columns {
		margin-top: 15px;
	}
}

@media (min-width: 641px) and (max-width: 960px) {

	.menu-list {
		font-size: 12px;
	}

	.menu-list_item {
    	margin-right: 40px;
	}

	.private_club-questions {
    	padding: 10px 30px 0;
    	margin-bottom: 60px;
    	width: 100%;
	}

	.private_club-questions-title {
	    font-size: 24px;
	    margin: 0 0 25px;
	}

	.private_club-questions_search {
	    width: 80%;
	    margin-bottom: 20px;
	}

	.search__field {
		padding: 10px 15px;
		font-size: 16px;
	}

	.search__icon-button {
		padding: 5px 10px;
	}

	.search__icon {
		width: 20px;
	}

	.private_club-questions-box_item {
		padding-top: 5px;
    	padding-bottom: 5px;
	}

	.button_down {
	    width: 32px;
	    height: 32px;
	}

	.private_club-questions-box_item-text {
		width: 85%;
    	margin-left: 0;
    	font-size: 18px;
    	padding: 15px 0 15px 20px;
    	border-radius: 0 0px 25px 0;
	}

	.hide + .button_hidden_down {
		padding: 10px 10px;
	}

	.hide:checked + .button_hidden_down ~ .questions-box_hidden-items {
		margin-top: 5px;
	}

	.questions-box_hidden-item {
		padding: 10px 3px;
	}

	.button_down-item {
	    width: 28px;
	    height: 28px;
	}

	.questions-box_hidden-item_text {
		font-size: 16px;
		margin: 6px 0 0;
		margin-left: 25px;
	}

	.hide_item:checked + .button_hidden_down-item ~ .questions-box_hidden-item_answer {
		padding: 10px 10px 10px 75px;
		margin-top: 5px;
	}

	.questions-box_hidden-item_answer {
		font-size: 14px;
		width: 100%;
		margin-bottom: 0;
	}

	.answer_column {
		width: 100%;
		margin-left: 0;
		margin-top: 20px;
	}

	.answer_column-card {
		width: 100%;
	    margin-left: 0;
	    margin-top: 0;
    	margin-bottom: 20px;
	}

	.answer_column-card:last-child {
		margin-bottom: 0;
	}

	.questions-box_hidden-item_answer-card {
		font-size: 14px;
	}

	.questions-box_hidden-item_answer-string {
		margin-bottom: 15px;
	}

	.questions-box_hidden-item_answer-string:last-child {
		margin-bottom: 0;
	}

	.questions-box_hidden-item_answer-card {
		margin: 0 0 10px 8%;
		width: 70%;
	}

	.questions-box_hidden-item_answer-card:last-child {
		margin: 0 0 0 8%;
	}

	.hide_item:checked + .button_hidden_down-item ~ .questions-box_hidden-item_answer-columns {
		margin-top: 5px;
		padding: 10px 10px 10px 75px;
		flex-wrap: wrap;
	}

	.item_text {
		font-size: 14px;
	}
}

@media (min-width: 481px) and (max-width: 640px) {

	.menu-list {
		font-size: 12px;
		flex-direction: column;
	}

	.menu-list_item {
	    margin-right: auto;
	    margin-left: auto;
	    margin-bottom: 15px;
	}

	.menu-list_item:last-child {
	    margin-right: auto;
		margin-bottom: 0;
	}

	.private_club-questions {
	    padding: 10px 0 0;
	    margin-bottom: 60px;
	}

	.private_club-questions-title {
		font-size: 22px;
		margin: 0 0 30px;
	}

	.private_club-questions_search {
	    width: 90%;
	    margin-bottom: 20px;
	}

	.search__field {
		padding: 5px 15px;
		font-size: 14px;
	}

	.search__icon-button {
		padding: 5px 10px;
	}

	.search__icon {
	    width: 20px;
	}

	.private_club-questions-box_item {
		padding-top: 10px;
    	padding-bottom: 10px;
	}

	.button_down {
		width: 30px;
    	height: 30px;
	}

	.hide + .button_hidden_down {
		padding: 10px 5px 10px 5px;
	}

	.private_club-questions-box_item-text {
		font-size: 16px;
		padding: 15px 0 15px 15px;
	}

	.hide:checked + .button_hidden_down ~ .questions-box_hidden-items {
		margin-top: 15px;
	}

	.questions-box_hidden-item {
		padding: 15px 3px;
	}

	.private_club-questions-box_item:last-child + .hide + .button_hidden_down {
		padding: 25px 3px;
	}

	.button_down-item {
	    width: 25px;
	    height: 25px;
	}

	.questions-box_hidden-item_text {
		font-size: 14px;
		margin: 4px 0 0;
		margin-left: 5%;

		line-height: 120%;
	}

	.hide_item:checked + .button_hidden_down-item ~ .questions-box_hidden-item_answer {
		margin-top: 10px;
		padding: 10px 10px 10px 75px;
	}

	.questions-box_hidden-item_answer {
		font-size: 14px;
	}

	.hide_item:checked + .button_hidden_down-item ~ .questions-box_hidden-item_answer-columns {
		margin-top: 10px;
		flex-wrap: wrap;
		flex-direction: column;
		padding: 10px 10px 10px 45px;
	}

	.answer_column {
		width: 100%;
		margin-left: 0;
		margin-top: 20px;
	}

	.answer_column-card {
		width: 100%;
	    margin-left: 0;
	    margin-top: 20px;
	}

	.questions-box_hidden-item_answer-card {
		font-size: 14px;
	}

	.questions-box_hidden-item_answer-string {
		margin-bottom: 15px;
	}

	.questions-box_hidden-item_answer-card {
		margin-bottom: 15px;
	}

	.item_text {
		font-size: 14px;
	}
}

@media (min-width: 465px) and (max-width: 480px) {

	.menu-list {
		font-size: 12px;
		flex-direction: column;
	}

	.menu-list_item {
	    margin-right: auto;
	    margin-left: auto;
	    margin-bottom: 15px;
	}

	.menu-list_item:last-child {
	    margin-right: auto;
		margin-bottom: 0;
	}

	.private_club-questions {
	    padding: 10px 0 0;
	    margin-bottom: 60px;
	}

	.private_club-questions-title {
		font-size: 20px;
		margin: 0 0 30px;
	}

	.private_club-questions_search {
	    width: 100%;
	    margin-bottom: 20px;
	}

	.search__field {
		padding: 5px 0 5px 10px;
    	font-size: 14px;
	}

	.search__icon-button {
		padding: 5px 10px;
	}

	.search__icon {
	    width: 20px;
	}

	.private_club-questions-box_item {
		padding-top: 5px;
    	padding-bottom: 5px;
	}

	.button_down {
		width: 27px;
    	height: 27px;
	}

	.hide + .button_hidden_down {
		padding: 10px 5px 10px 5px;
	}

	.private_club-questions-box_item-text {
		font-size: 14px;
    	padding: 15px 0 15px 10px;
	}

	.hide:checked + .button_hidden_down ~ .questions-box_hidden-items {
		margin-top: 5px;
	}

	.questions-box_hidden-item {
		padding: 10px 3px;
	}

	.private_club-questions-box_item:last-child + .hide + .button_hidden_down {
		padding: 25px 3px;
	}

	.button_down-item {
	    width: 25px;
	    height: 25px;
	}

	.questions-box_hidden-item_text {
		font-size: 14px;
		margin: 4px 0 0;
		margin-left: 5%;
		line-height: 120%;
	}

	.hide_item:checked + .button_hidden_down-item ~ .questions-box_hidden-item_answer {
		margin-top: 10px;
    	padding: 0px 10px 5px 65px;
	}

	.questions-box_hidden-item_answer {
		font-size: 14px;
	}

	.hide_item:checked + .button_hidden_down-item ~ .questions-box_hidden-item_answer-columns {
		margin-top: 10px;
		flex-wrap: wrap;
		flex-direction: column;
		padding: 0 10px 10px 70px;
	}

	.answer_column {
		width: 100%;
		margin-left: 0;
		margin-top: 20px;
	}

	.answer_column-card {
		width: 100%;
	    margin-left: 0;
	    margin-top: 20px;
	}

	.answer_column-card:first-child {
		margin-top: 0;
	}

	.questions-box_hidden-item_answer-card {
		font-size: 14px;
	}

	.questions-box_hidden-item_answer-string {
		margin-bottom: 10px;
	}

	.questions-box_hidden-item_answer-card {
		margin-bottom: 5px;
	}

	.item_text {
		font-size: 14px;
	}

	.icon_row {
		width: 3%;
	}
}

@media (min-width: 401px) and (max-width: 464px) {

	.menu-list {
		font-size: 12px;
		flex-direction: column;
	}

	.menu-list_item {
	    margin-right: auto;
	    margin-left: auto;
	    margin-bottom: 15px;
	}

	.menu-list_item:last-child {
	    margin-right: auto;
		margin-bottom: 0;
	}

	.private_club-questions {
	    padding: 10px 0 0;
	    margin-bottom: 60px;
	}

	.private_club-questions-title {
		font-size: 20px;
		margin: 0 0 25px;
	}

	.private_club-questions_search {
	    width: 95%;
	    margin-bottom: 20px;
	}

	.search__field {
		padding: 5px 0 5px 15px;
    	font-size: 14px;
	}

	.search__icon-button {
		padding: 5px 10px;
	}

	.search__icon {
	    width: 20px;
	}

	.private_club-questions-box_item {
		padding-top: 5px;
    	padding-bottom: 5px;
	}

	.private_club-questions-box_item:nth-child(2) > .private_club-questions-box_item-text {
		padding: 25px 10px 25px 10px;
	}

	.private_club-questions-box_item:nth-child(3) > .private_club-questions-box_item-text {
		padding: 25px 10px 25px 10px;
	}

	.button_down {
		width: 30px;
    	height: 30px;
	}

	.hide + .button_hidden_down {
		padding: 20px 10px 20px 10px;
	}

	.private_club-questions-box_item-text {
		font-size: 16px;
	    padding: 15px 10px 15px 10px;
	    width: 60%;

    	border-radius: 0 0 25px 0;
    	line-height: 120%;
	}

	.hide:checked + .button_hidden_down ~ .questions-box_hidden-items {
		margin-top: 5px;
	}

	.questions-box_hidden-item {
		padding: 10px 3px;
	}

	.private_club-questions-box_item:last-child + .hide + .button_hidden_down {
		padding: 25px 3px;
	}

	.button_down-item {
	    width: 25px;
	    height: 25px;
	}

	.questions-box_hidden-item_text {
		font-size: 14px;
		margin: 4px 0 0;
		margin-left: 5%;
	}

	.hide_item:checked + .button_hidden_down-item ~ .questions-box_hidden-item_answer {
		margin-top: 10px;
    	padding: 0px 10px 5px 65px;
	}

	.questions-box_hidden-item_answer {
		font-size: 14px;
	}

	.hide_item:checked + .button_hidden_down-item ~ .questions-box_hidden-item_answer-columns {
		margin-top: 10px;
		flex-wrap: wrap;
		flex-direction: column;
		padding: 0 10px 10px 70px;
	}

	.answer_column {
		width: 100%;
		margin-left: 0;
		margin-top: 20px;
	}

	.answer_column-card {
		width: 100%;
	    margin-left: 0;
	    margin-top: 20px;
	}

	.answer_column-card:first-child {
		margin-top: 0;
	}

	.questions-box_hidden-item_answer-card {
		font-size: 14px;
	}

	.questions-box_hidden-item_answer-string {
		margin-bottom: 10px;
	}

	.questions-box_hidden-item_answer-card {
		margin-bottom: 5px;
	}

	.item_text {
		font-size: 14px;
	}

	.icon_row {
		width: 3%;
	}

	.private_club-questions-box_item {
		border-top: 0;
	}
}

@media (min-width: 200px) and (max-width: 400px) {

	.menu-list {
		font-size: 12px;
		flex-direction: column;
	}

	.menu-list_item {
	    margin-right: auto;
	    margin-left: auto;
	    margin-bottom: 15px;
	}

	.menu-list_item:last-child {
	    margin-right: auto;
		margin-bottom: 0;
	}

	.private_club-questions {
	    padding: 10px 0 0;
	    margin-bottom: 60px;
	}

	.private_club-questions-title {
		font-size: 20px;
		margin: 0 0 25px;
	}

	.private_club-questions_search {
	    width: 100%;
	    margin-bottom: 20px;
	}

	.search__field {
		padding: 5px 0 5px 5px;
    	font-size: 12px;
	}

	.search__icon-button {
		padding: 5px 10px;
	}

	.search__icon {
	    width: 20px;
	}

	.private_club-questions-box_item {
		padding-top: 5px;
    	padding-bottom: 5px;
	}

	.private_club-questions-box_item:nth-child(2) > .private_club-questions-box_item-text {
		padding: 25px 10px 25px 10px;
	}

	.private_club-questions-box_item:nth-child(3) > .private_club-questions-box_item-text {
		padding: 25px 10px 25px 10px;
	}

	.button_down {
		width: 30px;
    	height: 30px;
	}

	.hide + .button_hidden_down {
		padding: 20px 10px 20px 10px;
	}

	.private_club-questions-box_item-text {
		font-size: 16px;
	    padding: 15px 10px 15px 10px;
	    width: 70%;

    	border-radius: 0 0 25px 0;
    	line-height: 120%;
	}

	.hide:checked + .button_hidden_down ~ .questions-box_hidden-items {
		margin-top: 5px;
	}

	.questions-box_hidden-item {
		padding: 10px 3px;
	}

	.private_club-questions-box_item:last-child + .hide + .button_hidden_down {
		padding: 25px 3px;
	}

	.button_down-item {
	    width: 25px;
	    height: 25px;
	}

	.questions-box_hidden-item_text {
		font-size: 14px;
		margin: 4px 0 0;
		margin-left: 0;
	}

	.hide_item:checked + .button_hidden_down-item ~ .questions-box_hidden-item_answer {
		margin-top: 10px;
    	padding: 0px 10px 5px 50px;
	}

	.questions-box_hidden-item_answer {
		font-size: 14px;
	}

	.hide_item:checked + .button_hidden_down-item ~ .questions-box_hidden-item_answer-columns {
		margin-top: 10px;
		flex-wrap: wrap;
		flex-direction: column;
		padding: 0 10px 10px 50px;
	}

	.answer_column {
		width: 100%;
		margin-left: 0;
		margin-top: 20px;
	}

	.answer_column-card {
		width: 100%;
	    margin-left: 0;
	    margin-top: 20px;
	}

	.answer_column-card:first-child {
		margin-top: 0;
	}

	.questions-box_hidden-item_answer-card {
		font-size: 14px;
	}

	.questions-box_hidden-item_answer-string {
		margin-bottom: 10px;
	}

	.questions-box_hidden-item_answer-card {
		margin-bottom: 5px;
	}

	.item_text {
		font-size: 14px;
	}

	.icon_row {
		width: 4%;
		margin-right: 10px;
	}

	.private_club-questions-box_item {
		border-top: 0;
	}
}

@media (max-width: 325px) {

	.private_club-questions-box_item:nth-child(4) > .hide + .button_hidden_down {
		padding: 30px 10px 30px 10px;
	}
}